.footer_links{
    a{
        margin: 0 10px;
        &:first-child{
            margin-left: 0;
        }
    }
}
.contactInfo{
    display: inline-block;
}
.icon{
    float: right;
    clear: both;
}
.divider{
    width: calc(90% - 60px);
    height: 1px;
    margin: 25px auto 5px;
    background-color: #FE3B1F;
}
.legal{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px calc(5% + 30px);
}
.social{
    margin: 0 10px;
}
@media(max-width: 990px){
    .footer_menu{
        div{
            width: 100%;
        }
        .footer_links{
            display: flex;
            flex-direction: column;
            a{
                margin: 10px 0;
            }
        }
    }
    .divider{
        width: calc(100% - 50px);
        margin-top: 0;
    }
    .legal{
        padding: 15px 30px;
        div{
            display: flex;
        }
    }
    .social{
        margin: 0;
    }
}